/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}

div {
    margin: 20px 0;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

button a {
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: #0056b3;
}

.category {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px auto;
    width: 80%;
    max-width: 400px;
}

.category h2 a {
    color: #333;
    text-decoration: none;
}

.category img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

.categorys-list{
    display: flex;
} */




/* 
.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.navbar button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.navbar button:hover {
  background-color: #0056b3;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.navbar a:hover {
  color: #ccc;
} */






body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #333;
}

div {
  margin: 20px 0;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

button a {
  color: white;
  text-decoration: none;
}

button:hover {
  background-color: #0056b3;
}

.category {
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px auto;
  width: 80%;
  max-width: 400px;
}

.category h2 a {
  color: #333;
  text-decoration: none;
}

.category img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
}

.categorys-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.navbar button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.navbar button:hover {
  background-color: #0056b3;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.navbar a:hover {
  color: #ccc;
}

